* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

html,
body {
    margin: 0;
    padding: 0;
    line-height: 28px;
}

p {
    margin: 0;
    padding: 0;
}
section{
    padding:$spacer-4 $spacer-0;
}