$color-primary:#00121e;
$color-contrasting:#3de5b2;
$color-formbg:#082336;
$color-formtext:#3f9bce;
$color-black:#000;
$color-white:#fff;

$spacer-0:0px;
$spacer-md:5px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;

$font-xsm:13px;
$font-sm:14px;
$font-md:16px;
$font-lg:20px;
$font-xl:24px;
$font-xxl:30px;